.TodaysDeals {
  border: 1px solid lightgray;
  padding: 5px;
}
.TodaysDeals-div {
  margin: 3px;
  /* background-color: lightgray; */
}
.off-text {
  background-color: red;
}
.heading {
  color: black;
}

@media (max-width: 768px) {
  .heading {
    font-size: 15px;
  }
}
